/* Estilos globais */
body, html {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}
h1{
    font-size: 2.5rem;
}
h2{
    font-size: 1.5rem;
}
h4{
    font-weight:normal;
    font-size: 1em;
}

/* Menu */
menu {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    align-items: center;
    padding: 10px 10px;
    background-color: rgba(217, 217, 217, 0.6); /* Equivalente a #d9d9d99a */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    list-style: none;
    justify-content: space-between;
    margin: 0;
    backdrop-filter: blur(10px); /* Efeito de blur */
    -webkit-backdrop-filter: blur(10px); /* Compatibilidade com Safari */
}

.logo img {
    height: 50px;
}

.icon-menu img {
    height: 30px;
    cursor: pointer;
}

/* Seção Hero */
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-image: url('./imgs/headline.jpg'); /* Substitua pelo caminho da sua imagem */
    background-size: cover;
    background-position: center;
}

.hero .content {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}
.hero .glass{
    background-color: rgba(217, 217, 217, 0.6); /* Equivalente a #d9d9d99a */
    backdrop-filter: blur(5px); /* Efeito de blur */
    -webkit-backdrop-filter: blur(5px); /* Compatibilidade com Safari */
    padding: 10px 20px;
    margin: 100px 0 0 0
}
.glass h1 {
    margin-bottom: 10px;
}

.line {
    width: 50px;
    height: 2px;
    background-color: #333;
    margin: 30px auto;
}


.button-content {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #25D366; /* Cor do WhatsApp */
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    margin: 90px 20px 20px 20px;
    box-shadow: 2px 5px 5px 0px rgba(0, 0, 0, 1);
    border: solid 1px;
    border-color: #333;
    position: relative;
    z-index: 1;

}

.button-content img {
    height: 20px;
    margin-right: 15px;
}

.button-content h3{
    margin: 10px 0;
    font-size:1.17em !important;
}

.button-content:hover{
    transform: scale(1.1);
}

a {
    text-decoration: none;
}

/* Seção 1 */
.section1 {
    padding: 30px 10px;
    background-color: #D9D9D9;
}

.section1 .content {
    max-width: 1200px;
    margin: 0 auto;
}

.section1 h1 {
    text-align: center;
    margin-bottom: 10px;
}

.section1 h2 {
    text-align: center;
    margin-bottom: 30px;
}

.card {
    background-color: #ADBBC6;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
    justify-items: center;
    text-align: center;
    border: solid 1px;
}

.card h3 {
    margin-bottom: 10px;
}

.card h4 {
    font-size: 1em;
    margin-bottom: 20px;
}

/* Seção 2 */
.section2 {
    padding: 50px 20px;
    background-color: #ADBBC6;
    color: #0E1424;
}

.section2 .content {
    max-width: 1200px;
    margin: 0 auto;
}

.section2 h1 {
    text-align: center;
    margin-bottom: 10px;
}

.section2 h2 {
    text-align: center;
    margin-bottom: 30px;
}

.steps {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    border: solid 1px;
    padding: 25px 0;
}

.steps img {
    height: 60px;
    margin-right: 10px;
}

.steps h2 {
    margin: 0;
}

.steps h4 {
    margin: 0;
}

/* Seção 3 */
.section3 {
    padding: 50px 20px;
    background-color: #0E1424;
    text-align: center;
    position: relative;
    overflow: hidden;
    color: #D9D9D9;
    padding: 40px 10px;
}

.section3 h1,
.section3 h3,
.section3 h4 {
    z-index: 1;
    position: relative;
   
}

.section3 h1 {
    margin-bottom: 10px;
}

.section3 .line {
    width: 50px;
    height: 2px;
    background-color: #374254;
    margin: 30px auto;
}

.section3 svg{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 5px;;
    left: 0;
    z-index: 0;
    object-fit:contain;
}

.section3 h4{
    margin-top: 10px;
}

.qualitities {
    margin-bottom: 20px;
}

.qualitities h3 {
    margin-bottom: 5px;
}

.section4 {
    position: relative;
    background-image: url("./imgs/footer.jpg");
    background-size: cover;
    background-position:0%;
    background-attachment: fixed;
    background-position: center 100px;
    padding: 40px;
}

.section4::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Escurece o fundo, ajuste a opacidade */
    z-index: 0;
}

.section4 .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    padding: 30px 10px;
    color: white;
    text-align: center;
}

.section4 .content h1 {
    margin-top: 0;
}

.section4 .line{
    background-color: #ADBBC6;
}